certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
dill==0.3.9
Faker==33.1.0
idna==3.10
lxml==5.3.0
multiprocess==0.70.17
pathos==0.3.3
pillow==11.3.0
pox==0.3.5
ppft==1.7.6.9
pycparser==2.22
PyExecJS==1.5.1
python-dateutil==2.9.0.post0
requests==2.32.4
six==1.17.0
tqdm==4.67.1
translators==5.9.3
typing_extensions==4.14.1
urllib3==2.5.0
